@keyframes slideLeft {
	from {
		margin-left: -100%;
	}

	to {
		margin-left: 0;
	}
}

@keyframes slideRight {
	from {
		margin-left: 0;
	}

	to {
		margin-left: -100%;
	}
}

@keyframes loseDisplay {
	from {
		visibility: visible;
	}

	to {
		visibility: hidden;
	}
}